/************* 
VARIABLES - COLORS
**************/

// color
$custom-primary: #ee7c2f; //pumpkin
$custom-secondary: #432356; //russian violet
$custom-light_p: #dda885;
$custom_light_s: #c5a5dc; 

// color: text e bg
$custom_text: #130a17;
$custom_white: #f7f3f6; //snow

$size_py_8: .5rem;