/************* 
VARIABLES - COLORS
**************/

// colori ufficiali
$custom-primary: #ee7c2f; //pumpkin
$custom-secondary: #432356; //russian violet
$custom-light_p: #ffd1b2;
$custom-lighter_p: #ffecdf;
$custom_light_s: #c5a5dc; 

// colori text e bg
$custom_text: #130a17;
$custom_white: #f7f3f6; //snow

/************* 
VARIABLES - SIZE
**************/

// possibilmente multipli di 8px/0.5rem
$size-8: .5rem;
$size-16: 1rem;
$size-24: 1.5rem;
$size-32: 2rem;
$size-40: 2.5rem;
$size-48: 3rem;